@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 8% 14%;
    --primary-foreground: 0 0% 98%;

    --background: 240 30% 98%;
    --background-card: 240 10% 99%;
    --background-input: 240 0% 100%;
    --background-popover: 240 10% 99%;

    --foreground: 240 8% 5%;
    --foreground-muted: 240 8% 45%;

    --accent: 240, 25%, 70%, 0.05;
    --border: 240 8% 92%;

    --radius: 4px;
  }

  .dark {
    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 8%;

    --background: 240, 4%, 6.5%;
    --background-card: 240, 4%, 7.5%;
    --background-input: 240, 6%, 10%;
    --background-popover: 240, 4%, 7%;

    --foreground: 240 4% 98%;
    --foreground-muted: 240 4% 55%;

    --accent: 240, 25%, 80%, 0.06;
    --border: 240 4% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }
}
